{% extends 'dashboard.html' %}
{% load static %}
{% block js_add %}
    <link rel="stylesheet" href="/static/css/tagsinput.css">
    <script src="/static/js/tagsinput.js"></script>
    <link rel="stylesheet" href="/static/css/choices.css">
    <script src="/static/js/choices.js"></script>
{% endblock %}
{% block style_block %}
    <style>
    </style>
{% endblock %}
{% block breadcrumb_block %}
    <li><a href="#">داشبورد</a> <span class="divider">/</span></li>
    <li><a href="#">کاره های من</a> <span class="divider">/</span></li>
    <li><a href="#">افزودن کاره</a> <span class="divider"></span></li>
{% endblock %}
{% block body_block %}
    <div class="col-6 text-center d-block mx-auto">
        <div class="jumbotron">
            <label for="typeSelector">۱.آگهی جدید در چه دسته ای قرار میگیرد؟</label>
            <select class="form-control" id="typeSelector">
                <option selected disabled>از لیست مرتبط ترین مهارت رو انتخاب کن.</option>
                <option>مهارت اول</option>
                <option>مهارت دوم</option>
                <option>مهارت سوم</option>
            </select>
        </div>
        <div class="jumbotron">
            <label for="nameSelector">۲.عنوان مناسب برای آگهی انتخاب کن.</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend2">من میخواهم</span>
                </div>
                <input type="text" class="form-control" id="nameSelector" placeholder="برای من یک پروژه انجام شود."
                       aria-describedby="inputGroupPrepend2" required>
                <p class="input-group-text" id="inputGroupPrepend2"></p>
            </div>
        </div>
        <div class="jumbotron">
            <label for="priceChooser">
                ۳.سقف بودجه ت رو مشخص کن.
            </label>
            <div class="row">
                <div class="col-4">
                    <div class="input-group">
                        <input type="text" class="form-control" id="priceChooser" placeholder="قیمت"
                               aria-describedby="inputGroupPrepend2" required>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend2">تومان</span>
                        </div>
                    </div>
                </div>

                <div class="col-8">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend2">به ازای تحویل</span>
                        </div>
                        <input type="text" class="form-control" id="priceChooser"
                               placeholder="فرمت ها و موارد مورد نیاز برای تحویل را اینجا وارد کن."
                               aria-describedby="inputGroupPrepend2" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron">
            <div class="input-group d-inline">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend3">برچسب ها</span>
                    <input class="d-inline-block" data-role="tagsinput" aria-describedby="inputGroupPrepend3" required>
                </div>
            </div>
            <p class="text-muted">اضافه کردن برچسب کمک میکنه در جست و جو ها بیشتر دیده بشی.</p>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">توضیحات بیشتر(اختیاری)</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <form method="POST" action="#" enctype="multipart/form-data">
	<!-- COMPONENT START -->
	<div class="form-group">
		<div class="input-group input-file" name="Fichier1">
    		<input type="text" class="form-control" placeholder='Choose a file...' />
{#    		<textarea class="form-control" placeholder='Choose a file...'></textarea>#}
            <span class="input-group-btn">
        		<button class="btn btn-dark btn-choose" type="button">افزودن فایل(اختیاری)</button>
    		</span>


		</div>
	</div>

        </div>
        <button type="submit" class="btn btn-secondary btn-lg">افزودن کاره</button>
        <br>
        <br>
        <br>
    </div>
    <script>
        let maxtext = 150;
        let msg = $('p').eq(1);
        msg.text(0 + "از" + maxtext);
        let text = $('input').eq(0);
        text.on('input', function () {
            let text_length = maxtext - text.val().length;
            {#alert("kian");#}
            let text_remaining = maxtext - text_length;
            msg.text(text_remaining + "از" + maxtext);
        });
        // bootstrap-tagsinput.js file - add in local
        var firstElement = document.getElementById('demo-1');

        var choices1 = new Choices(firstElement, {

            delimiter: ',',

            editItems: true,

            maxItems: 5,

            removeButton: true

        });
        var secondElement = new Choices('#demo-2', {allowSearch: true});

        function bs_input_file() {
            $(".input-file").before(
                function () {
                    if (!$(this).prev().hasClass('input-ghost')) {
                        var element = $("<input type='file' class='input-ghost' style='visibility:hidden; height:0'>");
                        element.attr("name", $(this).attr("name"));
                        element.change(function () {
                            element.next(element).find('input').val((element.val()).split('\\').pop());
                        });
                        $(this).find("button.btn-choose").click(function () {
                            element.click();
                        });
                        $(this).find("button.btn-reset").click(function () {
                            element.val(null);
                            $(this).parents(".input-file").find('input').val('');
                        });
                        $(this).find('input').css("cursor", "pointer");
                        $(this).find('input').mousedown(function () {
                            $(this).parents('.input-file').prev().click();
                            return false;
                        });
                        return element;
                    }
                }
            );
        }

        $(function () {
            bs_input_file();
        });
    </script>
{% endblock %}